.main-button,
.button, 
.btn,
.profile-btn,
.profile-cover,
.vote-true,
.comment-main-block-header,
.box-access-title,
.report-block-header,
.header-content,
.page-header,
.block-user,
.profile-name-block,
.competition-date,
.competition-lenta-place-n,
.fb-btn-fixed {
    background-color: rgb(39, 42, 58) !important;
    color: #fff !important;
}
.competition-lenta-line {
    border-top: 1px solid rgb(39, 42, 58);
}
.link-menu-a {
    color: rgb(39, 42, 58) !important;
}
.header-logo-content:hover,
.header-right-panel:hover,
.header-user-right-panel:hover {
    opacity: 0.8;
    background-color: rgb(39, 42, 58) !important;
}