body {
	background-color: #fafafa;
}
.restore-header {
	background-color: #fff;
	border-bottom: 1px solid #dbdbdb;
}
.s-header-content {
	position: relative;
	margin: 0 auto;
	max-width: 1010px;
}
.header-d {}
.header-logo {
    color: #04a7a3;
    padding: 20px;
    font-size: 21px;
}
.header-q {
	padding: 24px 20px;
	font-size: 17px;
}
.header-q span {
    text-decoration: underline;
    cursor: pointer;
}
.main-section {
    position: relative;
    margin: 50px auto;
	max-width: 1010px;
}
.form-container {
    text-align: center;
}
.form-h-t h2 {
    font-size: 28px !important; 
}
.form-block {
}
.form-input-pl {
    width: 350px;
    height: 35px;
    border: 1px solid #ccc;
    position: relative;
    margin: 20px auto;
    background-color: #fff;
}
.r-input {
    padding: 7.8px;
    font-size: 16px;
    width: 253px;
    border: none;
    outline: none;
}
.r-button {
    border: none;
    outline: none;
    cursor: pointer;
    color:  #04a7a3;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    padding: 9px 14px;
}
.r-user-photo {
    position: relative;
    margin: 10px auto;
}
.r-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: 100% 100%;
    position: relative;
    margin: 20px auto;
}
.r-name {
    text-align: center;
    font-size: 21px;
}
.r-btn {
    position: relative;
    margin: 18px auto;
    width: 307px;
}
.r-btn button {
    margin-left: 10px;
}